:root {
    --primary-color: #2196f3;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
}

.guest-container {
    display: flex;
    width: 70vw;
    margin: 2.5rem auto;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 20px 0px rgba(145, 145, 145, 0.15);
}

.guest-container__img {
    width: 50%;
}

.welcome-img {
    width: 100%;
    height: 100%;
}

.guest-container__routes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.main-header {
    margin: 0 0 .7rem 0;
    color: #358F89;
    font-size: 2.5rem;
}

.header-title {
    margin: 0 0 .7rem 0;
    color: #358F89;
    font-size: 1.5rem;
}

.d-text {
    max-width: 400px;
    color: #10312F;
}

@media only screen and (max-width: 850px) {
    .guest-container {
        width: 100vw;
    }
}

@media only screen and (max-width: 650px) {
    .guest-container {
        width: 60vw;
        height: 70vh;
    }
    .guest-container__img {
        display: none;
    }

    .guest-container__routes {
        width: 90%;
    }

}

.alert {
    padding: 0.7rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
}

.alert-light {
    background: var(--light-color);
    color: #333;
}

.alert-dark {
    background: var(--dark-color);
    color: #fff;
}

.alert-success {
    background: var(--success-color);
    color: #fff;
}

.alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
}


.alert-primary {
    background: var(--primary-color);
    color: #fff;
}

@media only screen and (max-width: 520px) {
    .guest-container {
        width: 100%;
        height: 70vh;
    }
}

